@media (prefers-color-scheme: dark) {
  @import "dark";
}

@media (prefers-color-scheme: light) {
  @import "light";
}

.app {
  height: 100vh;
}

#drawer-open > :first-child,
#drawer-closed > :first-child {
  padding-top: 64px;
}

body {
  overflow: hidden;
}

main {
  margin-top: 64px;
  overflow: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  // 100 viewport height - nav bar height - padding top
  height: calc(100vh - 64px - 25px);
}

.content {
  display: grid;
  align-items: start;
  justify-content: center;

  form.login-container {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    gap: 1rem 5%;
  }
}

// Overwiting the original color
.MuiAppBar-colorPrimary {
  color: white !important;
}

@media only screen and (max-device-width: 500px) {
  #drawer-closed > div {
    width: 0;
  }

  #drawer-open > div {
    width: 100vw;
  }
  main form.login-container {
    grid-template-columns: 95%;
  }
}

#select-restaurant > div:first-of-type:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#select-restaurant > div:first-of-type {
  transition: background-color 0.2 ease-in;
}

.drag-n-drop-container {
  width: 50vmin !important;
  height: 50vmin !important;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
}
