@media (prefers-color-scheme: dark) {
  @import 'dark';
}

@media (prefers-color-scheme: light) {
  @import 'light';
}

.app {
  height: 100vh;
}

main {
  display: grid;
  align-items: start;
  justify-content: center;
  padding-top: 25px;
  // 100 viewport height - nav bar height - padding top
  height: calc(100vh - 64px - 25px);
}

// Overwiting the original color
.MuiAppBar-colorPrimary {
  color: white !important;
}